/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url('chrome://global/skin/in-content/common.css');
@import url('stepbox.css');

/* Try to match the rest of the addon detail page; see
 * chrome://mozapps/skin/extensions/extensions.css */

:root {
    -moz-user-select: none;
    background: var(--in-content-box-background);
}

:root > * {
    font-size: 1.11rem;
    color: var(--in-content-page-color);
}

/* End matching Firefox styles */

body {
    line-height: 1.8;
}

input[type='number'] {
    width: 5ex;
}
