/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url('chrome://global/skin/in-content/common.css');
@import url('stepbox.css');

:root {
    -moz-user-select: none;

    background: var(--in-content-box-background);
    color: var(--in-content-page-color);
}

/* These prevent the <browser> from adding a scrollbar; it seems to calculate
 * the height without taking these margins into account. */
body > :last-child {
    margin-bottom: 0;
}
body > :first-child {
    margin-top: 0;
}

body {
    line-height: 1.8;

    /* The focus ring from in-content/common.css is 4px thick, so add 5px
     * padding so it doesn't get cut off at all. */
    padding-top: 5px;
    padding-bottom: 5px;
}

input[type='number'] {
    width: 5ex;
}

#tip:not(.expanded) .more {
    display: none;
}

#tip.expanded #tip-show {
    display: none;
}

/* Make a button look like a link. */
button.action-link {
    background: none;
    border: none;
    /* !important is required because in-content/common.css uses it */
    color: var(--in-content-link-color) !important;
    font-size: inherit;
    padding: 4px;
    margin-left: 1em;
    margin-right: 0;
    /* Negative margins compensate for padding, so the focusring is outset
     * without taking up extra space. */
    margin-top: -4px;
    margin-bottom: -4px;
    min-width: auto;
    min-height: auto;
}
button.action-link:active,
button.action-link:hover,
button.action-link:enabled:hover:active {
    background: none;
}

button.action-link:enabled:focus,
button.action-link:enabled:hover {
    background: none;
    color: var(--in-content-link-color-hover) !important;
    cursor: pointer;
    text-decoration: underline;
}
button.action-link:enabled:hover:active {
    color: var(--in-content-link-color-active) !important;
    text-decoration: none;
}
